<p>about-page works!</p>
    

@if(innerHTML && !isLoading ){ 
    @if(innerHTML && !isLoading ){ 
        @switch (isGerman) {
            @case (isGerman) {
                <div style="color: black" [innerHTML]="innerHTML.germanInfoText" ></div>
            }
            @case (!isGerman) {
                <div style="color: black" [innerHTML]="innerHTML.englishInfoText"></div>
            }
            @default {
                <div style="color: black" [innerHTML]="innerHTML.englishInfoText"></div>
            }
        }

        @for (badge of badges; track $index) {
            <p>{{getBadgeColor(badge)}}</p>
            <p>{{getBadgeLogo(badge)}}</p>
            <p>__________________________</p>
        }
        
    }
}
@else {
    <div>loading</div>
}
    


