
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *        [@routeAnimations]="getRouteAnimationData()"-->

<ion-app>

    <router-outlet>
        <app-menue></app-menue>
    </router-outlet>


    <div class="app_container">
        <app-home-page></app-home-page>
        <app-about-page></app-about-page>
        <app-project-page></app-project-page>
        <app-contact-page></app-contact-page>
    </div>
</ion-app>