<h1>Angular App</h1>












<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div [@routeAnimations]="getRouteAnimationData()">
<router-outlet>
    <a routerLink="/">Home</a>
    <a routerLink="/projects">Projets</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
</router-outlet>
</div>