<div id="contact_anchor">  

    @if(innerHTML && !isLoading ){ 

        @if(innerHTML && !isLoading ){ 
            @switch (isGerman) {
                @case (isGerman) {
                    <div style="color: black" [innerHTML]="innerHTML.germanInfoText" ></div>
                }
                @case (!isGerman) {
                    <div style="color: black" [innerHTML]="innerHTML.englishInfoText"></div>
                }
                @default {
                    <div style="color: black" [innerHTML]="innerHTML.englishInfoText"></div>
                }
            }
            
        }
    }
    @else {
        <div>loading</div>
    }

    <button (click)="openEmailModal()" style="width: 100px; height: 50px;">EMAIL</button>

</div>